.kolenke {
  box-shadow: 0 6px 12px rgba(173, 191, 210, 0.3);
}
.kolenke-sm {
  box-shadow: 0 4px 8px rgba(171, 190, 209, 0.4);
}
.kolenke-xs {
  box-shadow: 0 2px 4px rgba(171, 190, 209, 0.6);
}
.kolenke-lg {
  box-shadow: 0 8px 16px rgba(171, 190, 209, 0.4);
}
.kolenke-xl {
  box-shadow: 0 16px 32px rgba(171, 190, 209, 0.3);
}
